@charset "UTF-8";
/* CSS Document*/

body{
	background-color:#333;
	margin:0;
}

#animation {
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 300px;
	height: 600px;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #ffffff;
	box-sizing: border-box;
}

.bg {
		position: absolute;
		left: 0px;
		top: -30px;	
		width: 300px;
		height: 630px;
	}

/* FRAME 1 */

	#taglinetop {
		position: absolute;
		left: 60px;
		top: 100px;	
		width: 172px;
		height: 199px;
		background-image: url(images/tagline-top.png);
	}

	#tagline2 {
		position: absolute;
		left: 38px;
		top: 317px;	
		width: 218px;
		height: 162px;
		background-image: url(images/tagline2.png);
	}

	#tagline2outline {
		position: absolute;
		left: 40px;
		top: 319px;	
		width: 220px;
		height: 163px;
		background-image: url(images/tagline2-outline.png);
	}


/* END FRAME */

	#cta {
		position: absolute;
		left: 0px;
		top: 573px;	
		width: 300px;
		height: 27px;
		background-image: url(images/cta.jpg);
	}

	#image {
		position: absolute;
		left: 0px;
		top: 0px;	
		width: 300px;
		height: 284px;
		background-image: url(images/image1.png);
	}


	#image2 {
		position: absolute;
		bottom: 0px;
		left: 0px;	
		width: 300px;
		height: 600px;
		background-image: url(images/image2.png);
	}

	#logo_nbc {
		position: absolute;
		left: 12px;
		top: 358px;	
		width: 42px;
		height: 25px;
		background-image: url(images/logo_nbc.png);
	}

	#logo_nbcsn {
		position: absolute;
		left: 73px;
		top: 353px;	
		width: 46px;
		height: 34px;
		background-image: url(images/logo_nbcsn.png);
	}

	#logo_cnbc {
		position: absolute;
		left: 136px;
		top: 353px;	
		width: 42px;
		height: 32px;
		background-image: url(images/logo_cnbc.png);
	}

	#logo_usa {
		position: absolute;
		left: 195px;
		top: 360px;	
		width: 40px;
		height: 18px;
		background-image: url(images/logo_usa.png);
	}

	#logo_app {
		position: absolute;
		left: 252px;
		top: 354px;	
		width: 30px;
		height: 30px;
		background-image: url(images/logo_app.png);
	}

	#scp {
		position: absolute;
		left: 88px;
		top: 129px;	
		width: 122px;
		height: 133px;
		background-image: url(images/scp.png);
	}

	#tag {
		position: absolute;
		left: 27px;
		top: 271px;	
		width: 245px;
		height: 70px;
		background-image: url(images/tag.png);
	}