@charset "UTF-8";
/* CSS Document */

body{
	background-color:#333;
	margin:0;
}

#animation{
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 300px;
	height: 100px;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #fdb813;
	box-sizing: border-box;
}

/* FRAME 1 */
#bg1{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 100px;
	background: url(images/bg1.jpg) no-repeat;
}

#lockup{
	position: absolute;
	left: 71px;
	top: 9px;
	width: 157px;
	height: 88px;
	background: url(images/lockup.png) no-repeat;
}



/* ENDFRAME */
#lines_left{
	position: absolute;
	left: -300px;
	top: 0px;
	width: 300px;
	height: 100px;
	background: url(images/lines_left.png) no-repeat;
}

#lines_right{
	position: absolute;
	left: 300px;
	top: 0px;
	width: 300px;
	height: 100px;
	background: url(images/lines_right.png) no-repeat;
}

#bg2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 100px;
	background: url(images/bg2.jpg) no-repeat;
}

/*
#faceoff{
	position: absolute;
	left: 100px;
	top: 39px;
	width: 99px;
	height: 62px;
	background: url(images/faceoff.png) no-repeat;
}
*/

#info{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 100px;
	background: url(images/info.jpg) no-repeat;
}

#network{
	position: absolute;
	left: 13px;
	top: 24px;
	width: 247px;
	height: 73px;
	background: url(images/network.png) no-repeat;
}


