@charset "UTF-8";
/* CSS Document */

body{
	background-color:#333;
	margin:0;
}

#animation{
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 728px;
	height: 90px;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #fdb813;
	box-sizing: border-box;
}

/* FRAME 1 */
#bg1{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 728px;
	height: 90px;
	background: url(images/bg1.jpg) no-repeat;
}

#lockup{
	position: absolute;
	left: 297px;
	top: 5px;
	width: 135px;
	height: 77px;
	background: url(images/lockup.png) no-repeat;
}

/* FRAME 2 */
#tag1{
	position: absolute;
	left: 229px;
	top: 17px;
	width: 93px;
	height: 56px;
	background: url(images/tag1.png) no-repeat;
}


/* ENDFRAME */
#lines_left{
	position: absolute;
	left: -229px;
	top: 0px;
	width: 229px;
	height: 92px;
	background: url(images/lines_left.png) no-repeat;
}

#lines_right{
	position: absolute;
	left: 728px;
	top: 0px;
	width: 220px;
	height: 92px;
	background: url(images/lines_right.png) no-repeat;
}

#bg2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 728px;
	height: 90px;
	background: url(images/bg2.jpg) no-repeat;
}

#faceoff{
	position: absolute;
	left: 122px;
	top: 14px;
	width: 106px;
	height: 60px;
	background: url(images/faceoff.png) no-repeat;
}

#info{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 728px;
	height: 90px;
	background: url(images/info.jpg) no-repeat;
}

#network{
	position: absolute;
	left: 546px;
	top: 25px;
	width: 65px;
	height: 38px;
	background: url(images/network.png) no-repeat;
}


