@charset "UTF-8";
/* CSS Document */

body{
	background-color:#333;
	margin:0;
}

#animation{
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 160px;
	height: 600px;
	background-color: #10192c;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #0032a0;
	box-sizing: border-box;
}

/* FRAME 2 */


#network{
	opacity: 1;
	position: absolute;
	left: 34px;
	top: 308px;
	width: 97px;
	height: 59px;
	background: url(images/network.png) no-repeat;
}

#teams{
	opacity: 1;
	position: absolute;
	left: 12px;
	top: 264px;
	width: 137px;
	height: 32px;
	background: url(images/teams.png) no-repeat;
}

#logohoriz{
	opacity: 1;
	position: absolute;
	left: 4px;
	top: 88px;
	width: 152px;
	height: 159px;
	background: url(images/logolarge.png) no-repeat;
}

#playersafterteams{
	opacity: 0;
	position: absolute;
	left: -1px;
	top: -1px;
	width: 160px;
	height: 600px;
	background: url(images/playersbeforeteams.png) no-repeat;
}


#playersbeforeteams{
	opacity: 0;
	position: absolute;
	left: -1px;
	top: -1px;
	width: 160px;
	height: 600px;
	background: url(images/playersbeforeteams.png) no-repeat;
}

#bgend{
	opacity: 0;
	position: absolute;
	left: -1px;
	top: -1px;
	width: 160px;
	height: 600px;
	background: url(images/bgend.jpg) no-repeat;
}


#planeback{
	position: absolute;
	top: 620px;
	width: 160px;
	height: 610px;
	background: url(images/planeback.png) no-repeat;
}

#planetop{
	position: absolute;
	top: 610px;
	width: 160px;
	height: 600px;
	background: url(images/planetop.png) no-repeat;
}



#logolarge{
	position: absolute;
	left: 4px;
	top: 220px;
	width: 152px;
	height: 159px;
	background: url(images/logolarge.png) no-repeat;
}


#bgdarkblue{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 160px;
	height: 600px;
	background: url(images/bgdarkblue.png) no-repeat;
}






