@charset "UTF-8";
/* CSS Document */

body{
	background-color:#333;
	margin:0;
}

#animation{
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 728px;
	height: 90px;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #fdb813;
	box-sizing: border-box;
}

/* FRAME 1 */
#bg1{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 728px;
	height: 90px;
	background: url(images/bg1.jpg) no-repeat;
}

#lockup{
	position: absolute;
	left: 193px;
	top: 10px;
	width: 337px;
	height: 70px;
	background: url(images/lockup.png) no-repeat;
}

/* FRAME 2 */
#tag1{
	position: absolute;
	left: 229px;
	top: 17px;
	width: 93px;
	height: 56px;
	background: url(images/tag1.png) no-repeat;
}

#tag2a{
	position: absolute;
	left: 340px;
	top: 17px;
	width: 161px;
	height: 56px;
	background: url(images/tag2a.png) no-repeat;
}

#tag2b{
	position: absolute;
	left: 340px;
	top: 16px;
	width: 155px;
	height: 58px;
	background: url(images/tag2b.png) no-repeat;
}

#tag3{
	position: absolute;
	left: 252px;
	top: 16px;
	width: 227px;
	height: 58px;
	background: url(images/tag3.png) no-repeat;
}

/* ENDFRAME */
#lines_left{
	position: absolute;
	left: -229px;
	top: 0px;
	width: 229px;
	height: 92px;
	background: url(images/lines_left.png) no-repeat;
}

#lines_right{
	position: absolute;
	left: 728px;
	top: 0px;
	width: 220px;
	height: 92px;
	background: url(images/lines_right.png) no-repeat;
}

#bg2{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 728px;
	height: 90px;
	background: url(images/bg2.jpg) no-repeat;
}

#faceoff{
	position: absolute;
	left: 130px;
	top: 13px;
	width: 103px;
	height: 63px;
	background: url(images/faceoff.png) no-repeat;
}

#info{
	position: absolute;
	left: 71px;
	top: 0px;
	width: 509px;
	height: 90px;
	background: url(images/info.jpg) no-repeat;
}

#network{
	position: absolute;
	left: 523px;
	top: 17px;
	width: 74px;
	height: 55px;
	background: url(images/network.png) no-repeat;
}


