@charset "UTF-8";
/* CSS Document*/

body{
	background-color:#333;
	margin:0;
}

#animation {
	visibility: hidden;
}

#banner {
	position: absolute;
	width: 320px;
	height: 50px;
	background-color: #000000;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	border: 1px solid #464646;
	box-sizing: border-box;
}

.bg {
		position: absolute;
		left: 0px;
		top: 0px;	
		width: 320px;
		height: 50px;
	}

/* FRAME 1 */

	#tagline {
		position: absolute;
		left: 8px;
		top: 15px;	
		width: 305px;
		height: 21px;
		background-image: url(images/tagline.png);
	}


/* END FRAME */

#logo {
		position: absolute;
		left: 126px;
		top: 12px;	
		width: 182px;
		height: 28px;
		background-image: url(images/logo.png);
	}

/*
	#logo_nbc {
	 
		position: absolute;
		left: 263px;
		top: 10px;	
		width: 49px;
		height: 30px;
		background-image: url(images/logo_nbc.png);
	}
*/

/*
	#logo_nbcsn {
	 
		position: absolute;
		left: 262px;
		top: 5px;	
		width: 53px;
		height: 40px;
		background-image: url(images/logo_nbcsn.png);
	}
*/

/*
	#logo_cnbc {
	 
		position: absolute;
		left: 263px;
		top: 6px;	
		width: 49px;
		height: 39px;
		background-image: url(images/logo_cnbc.png);
	}
*/

/*
	#logo_usa {
	 
		position: absolute;
		left: 263px;
		top: 13px;	
		width: 49px;
		height: 23px;
		background-image: url(images/logo_usa.png);
	}
*/

	#scp {
	/* ADJUST POSITION */
		position: absolute;
		left: 6px;
		top: 7px;	
		width: 106px;
		height: 38px;
		background-image: url(images/scp.png);
	}

/*
    #tag {
	 
		position: absolute;
		left: 123px;
		top: 7px;	
		width: 131px;
		height: 35px;
		background-image: url(images/tag.png);
	}
*/

/*
	#tunein {
	 
		position: absolute;
		left: 118px;
		top: 5px;	
		width: 141px;
		height: 41px;
		background-image: url(images/tunein_tonight.png);
	}*/
